@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.712);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 690px;
    width: 640px; 
    background-color: rgb(26, 27, 40);
    border: 3px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.712);
}
.divRes {
    display: flex;
    width: 500px;
    height: 270px;
    /*border: 3px solid rgb(151, 83, 83);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.divBtn {
    background-color: rgb(26, 27, 40);
    margin-top: -10px;
    margin-left: 10px;
    width: 500px;
    height: 450px;
    display: flex;
    /*column-gap: 10px;*/
    /*border: 3px solid black;*/
    padding: 10px;
    justify-content: space-around;
}
.divBtn > div {
    /*border: 3px solid rgb(165, 181, 88);*/
    row-gap: 12px;
}

.btnMode {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 450px;
}
.btn1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    /*border: 1px solid rgb(197, 68, 68);*/
    row-gap: 12px;
    margin-left: 0px;
    margin-top: 1px;
}
.divEqual {
    width: 120px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*border: 3px solid white;*/
}
.divEqual > button {
    height: 170px;

}
.charKey {
    width: 90px;
    height: 80px;
    border-radius: 10px;
}

#btnNum {
    /*background-color: rgb(40, 49, 71);*/
    background-color: #4dff91;
    color: rgba(15, 15, 15, 0.8);
    font-size: 45px;
    border: none;
    font-family: "Kode Mono", monospace;
    font-weight: 550;
}
#btnNum:hover {
    /*background-color: rgb(54, 55, 58);*/
    border: 3px solid;
    border-color: rgb(231, 221, 221);
}
#btnOp {
    background-color: #26834a;
    color: black;
    font-size: 55px;
}
#equal, #apagar, #clear{
    background-color: #26834a;
    color: white;
    font-size: 55px;
    font-weight: bold;
}

#btnOp:hover {
    /*background-color: rgba(44, 51, 78, 0.948);*/
    border: 2px solid;
    border-color: white;
    /*color: red;*/
}

#apagar:hover, #clear:hover, #equal:hover {
    background-color: rgba(44, 51, 78, 0.948);
    border: 3px solid white;
}
/*
#apagar, #clear {
    color: white;
    font-weight: bold;
}*/
#apagar:hover, #clear:hover {
    /*color: rgb(223, 53, 53);*/
    font-weight: 700;
}

#input {
    width: 480px;
    height: 75px;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    border: none;
    font-size: 48px;
    text-align: right;
    padding-right: 20px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 550;
    border: 3px solid black;
}
#inputRes {
    width: 480px;
    height: 75px;
    background-color: rgb(167, 167, 167);
    border-radius: 10px;
    font-size: 48px;
    text-align: right;
    padding-right: 20px;
    font-family: "Kode Mono", monospace;
    font-weight: 550;
}

#ClearMode, #DarkMode {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}
#ClearMode {
    background-color: bisque;
    color: black;
}
#DarkMode {
    background-color: rgb(36, 36, 36);
    color: white;
}